.subgrid {
    display: subgrid !important;
    grid-column: 1 / -1 !important;
}

.grid-cols-1 {
    grid-template-columns: repeat(1, minmax(0, 1fr)) !important;
}

.grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr)) !important;
}

.grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr)) !important;
}

.grid-cols-4 {
    grid-template-columns: repeat(4, minmax(0, 1fr)) !important;
}

.grid-cols-5 {
    grid-template-columns: repeat(5, minmax(0, 1fr)) !important;
}

.grid-cols-6 {
    grid-template-columns: repeat(6, minmax(0, 1fr)) !important;
}

.grid-cols-7 {
    grid-template-columns: repeat(7, minmax(0, 1fr)) !important;
}

.grid-cols-8 {
    grid-template-columns: repeat(8, minmax(0, 1fr)) !important;
}

.grid-cols-9 {
    grid-template-columns: repeat(9, minmax(0, 1fr)) !important;
}

.grid-cols-10 {
    grid-template-columns: repeat(10, minmax(0, 1fr)) !important;
}

.grid-cols-11 {
    grid-template-columns: repeat(11, minmax(0, 1fr)) !important;
}

.grid-cols-12 {
    grid-template-columns: repeat(12, minmax(0, 1fr)) !important;
}

.col-span-1 {
    grid-column: span 1 !important;
}

.col-span-2 {
    grid-column: span 2 !important;
}

.col-span-3 {
    grid-column: span 3 !important;
}

.col-span-4 {
    grid-column: span 4 !important;
}

.col-span-5 {
    grid-column: span 5 !important;
}

.col-span-6 {
    grid-column: span 6 !important;
}

.col-span-7 {
    grid-column: span 7 !important;
}

.col-span-8 {
    grid-column: span 8 !important;
}

.col-span-9 {
    grid-column: span 9 !important;
}

.col-span-10 {
    grid-column: span 10 !important;
}

.col-span-11 {
    grid-column: span 11 !important;
}

.col-span-12 {
    grid-column: span 12 !important;
}

@media (min-width: 576px) {
    .sm\:grid-cols-1 {
        grid-template-columns: repeat(1, minmax(0, 1fr)) !important;
    }

    .sm\:grid-cols-2 {
        grid-template-columns: repeat(2, minmax(0, 1fr)) !important;
    }

    .sm\:grid-cols-3 {
        grid-template-columns: repeat(3, minmax(0, 1fr)) !important;
    }

    .sm\:grid-cols-4 {
        grid-template-columns: repeat(4, minmax(0, 1fr)) !important;
    }

    .sm\:grid-cols-5 {
        grid-template-columns: repeat(5, minmax(0, 1fr)) !important;
    }

    .sm\:grid-cols-6 {
        grid-template-columns: repeat(6, minmax(0, 1fr)) !important;
    }

    .sm\:grid-cols-7 {
        grid-template-columns: repeat(7, minmax(0, 1fr)) !important;
    }

    .sm\:grid-cols-8 {
        grid-template-columns: repeat(8, minmax(0, 1fr)) !important;
    }

    .sm\:grid-cols-9 {
        grid-template-columns: repeat(9, minmax(0, 1fr)) !important;
    }

    .sm\:grid-cols-10 {
        grid-template-columns: repeat(10, minmax(0, 1fr)) !important;
    }

    .sm\:grid-cols-11 {
        grid-template-columns: repeat(11, minmax(0, 1fr)) !important;
    }

    .sm\:grid-cols-12 {
        grid-template-columns: repeat(12, minmax(0, 1fr)) !important;
    }

    .sm\:col-span-1 {
        grid-column: span 1 !important;
    }

    .sm\:col-span-2 {
        grid-column: span 2 !important;
    }

    .sm\:col-span-3 {
        grid-column: span 3 !important;
    }

    .sm\:col-span-4 {
        grid-column: span 4 !important;
    }

    .sm\:col-span-5 {
        grid-column: span 5 !important;
    }

    .sm\:col-span-6 {
        grid-column: span 6 !important;
    }

    .sm\:col-span-7 {
        grid-column: span 7 !important;
    }

    .sm\:col-span-8 {
        grid-column: span 8 !important;
    }

    .sm\:col-span-9 {
        grid-column: span 9 !important;
    }

    .sm\:col-span-10 {
        grid-column: span 10 !important;
    }

    .sm\:col-span-11 {
        grid-column: span 11 !important;
    }

    .sm\:col-span-12 {
        grid-column: span 12 !important;
    }
}

@media (min-width: 768px) {
    .md\:grid-cols-1 {
        grid-template-columns: repeat(1, minmax(0, 1fr)) !important;
    }

    .md\:grid-cols-2 {
        grid-template-columns: repeat(2, minmax(0, 1fr)) !important;
    }

    .md\:grid-cols-3 {
        grid-template-columns: repeat(3, minmax(0, 1fr)) !important;
    }

    .md\:grid-cols-4 {
        grid-template-columns: repeat(4, minmax(0, 1fr)) !important;
    }

    .md\:grid-cols-5 {
        grid-template-columns: repeat(5, minmax(0, 1fr)) !important;
    }

    .md\:grid-cols-6 {
        grid-template-columns: repeat(6, minmax(0, 1fr)) !important;
    }

    .md\:grid-cols-7 {
        grid-template-columns: repeat(7, minmax(0, 1fr)) !important;
    }

    .md\:grid-cols-8 {
        grid-template-columns: repeat(8, minmax(0, 1fr)) !important;
    }

    .md\:grid-cols-9 {
        grid-template-columns: repeat(9, minmax(0, 1fr)) !important;
    }

    .md\:grid-cols-10 {
        grid-template-columns: repeat(10, minmax(0, 1fr)) !important;
    }

    .md\:grid-cols-11 {
        grid-template-columns: repeat(11, minmax(0, 1fr)) !important;
    }

    .md\:grid-cols-12 {
        grid-template-columns: repeat(12, minmax(0, 1fr)) !important;
    }

    .md\:col-span-1 {
        grid-column: span 1 !important;
    }

    .md\:col-span-2 {
        grid-column: span 2 !important;
    }

    .md\:col-span-3 {
        grid-column: span 3 !important;
    }

    .md\:col-span-4 {
        grid-column: span 4 !important;
    }

    .md\:col-span-5 {
        grid-column: span 5 !important;
    }

    .md\:col-span-6 {
        grid-column: span 6 !important;
    }

    .md\:col-span-7 {
        grid-column: span 7 !important;
    }

    .md\:col-span-8 {
        grid-column: span 8 !important;
    }

    .md\:col-span-9 {
        grid-column: span 9 !important;
    }

    .md\:col-span-10 {
        grid-column: span 10 !important;
    }

    .md\:col-span-11 {
        grid-column: span 11 !important;
    }

    .md\:col-span-12 {
        grid-column: span 12 !important;
    }
}

@media (min-width: 992px) {
    .lg\:grid-cols-1 {
        grid-template-columns: repeat(1, minmax(0, 1fr)) !important;
    }

    .lg\:grid-cols-2 {
        grid-template-columns: repeat(2, minmax(0, 1fr)) !important;
    }

    .lg\:grid-cols-3 {
        grid-template-columns: repeat(3, minmax(0, 1fr)) !important;
    }

    .lg\:grid-cols-4 {
        grid-template-columns: repeat(4, minmax(0, 1fr)) !important;
    }

    .lg\:grid-cols-5 {
        grid-template-columns: repeat(5, minmax(0, 1fr)) !important;
    }

    .lg\:grid-cols-6 {
        grid-template-columns: repeat(6, minmax(0, 1fr)) !important;
    }

    .lg\:grid-cols-7 {
        grid-template-columns: repeat(7, minmax(0, 1fr)) !important;
    }

    .lg\:grid-cols-8 {
        grid-template-columns: repeat(8, minmax(0, 1fr)) !important;
    }

    .lg\:grid-cols-9 {
        grid-template-columns: repeat(9, minmax(0, 1fr)) !important;
    }

    .lg\:grid-cols-10 {
        grid-template-columns: repeat(10, minmax(0, 1fr)) !important;
    }

    .lg\:grid-cols-11 {
        grid-template-columns: repeat(11, minmax(0, 1fr)) !important;
    }

    .lg\:grid-cols-12 {
        grid-template-columns: repeat(12, minmax(0, 1fr)) !important;
    }

    .lg\:col-span-1 {
        grid-column: span 1 !important;
    }

    .lg\:col-span-2 {
        grid-column: span 2 !important;
    }

    .lg\:col-span-3 {
        grid-column: span 3 !important;
    }

    .lg\:col-span-4 {
        grid-column: span 4 !important;
    }

    .lg\:col-span-5 {
        grid-column: span 5 !important;
    }

    .lg\:col-span-6 {
        grid-column: span 6 !important;
    }

    .lg\:col-span-7 {
        grid-column: span 7 !important;
    }

    .lg\:col-span-8 {
        grid-column: span 8 !important;
    }

    .lg\:col-span-9 {
        grid-column: span 9 !important;
    }

    .lg\:col-span-10 {
        grid-column: span 10 !important;
    }

    .lg\:col-span-11 {
        grid-column: span 11 !important;
    }

    .lg\:col-span-12 {
        grid-column: span 12 !important;
    }
}

@media (min-width: 1200px) {
    .xl\:grid-cols-1 {
        grid-template-columns: repeat(1, minmax(0, 1fr)) !important;
    }

    .xl\:grid-cols-2 {
        grid-template-columns: repeat(2, minmax(0, 1fr)) !important;
    }

    .xl\:grid-cols-3 {
        grid-template-columns: repeat(3, minmax(0, 1fr)) !important;
    }

    .xl\:grid-cols-4 {
        grid-template-columns: repeat(4, minmax(0, 1fr)) !important;
    }

    .xl\:grid-cols-5 {
        grid-template-columns: repeat(5, minmax(0, 1fr)) !important;
    }

    .xl\:grid-cols-6 {
        grid-template-columns: repeat(6, minmax(0, 1fr)) !important;
    }

    .xl\:grid-cols-7 {
        grid-template-columns: repeat(7, minmax(0, 1fr)) !important;
    }

    .xl\:grid-cols-8 {
        grid-template-columns: repeat(8, minmax(0, 1fr)) !important;
    }

    .xl\:grid-cols-9 {
        grid-template-columns: repeat(9, minmax(0, 1fr)) !important;
    }

    .xl\:grid-cols-10 {
        grid-template-columns: repeat(10, minmax(0, 1fr)) !important;
    }

    .xl\:grid-cols-11 {
        grid-template-columns: repeat(11, minmax(0, 1fr)) !important;
    }

    .xl\:grid-cols-12 {
        grid-template-columns: repeat(12, minmax(0, 1fr)) !important;
    }

    .xl\:col-span-1 {
        grid-column: span 1 !important;
    }

    .xl\:col-span-2 {
        grid-column: span 2 !important;
    }

    .xl\:col-span-3 {
        grid-column: span 3 !important;
    }

    .xl\:col-span-4 {
        grid-column: span 4 !important;
    }

    .xl\:col-span-5 {
        grid-column: span 5 !important;
    }

    .xl\:col-span-6 {
        grid-column: span 6 !important;
    }

    .xl\:col-span-7 {
        grid-column: span 7 !important;
    }

    .xl\:col-span-8 {
        grid-column: span 8 !important;
    }

    .xl\:col-span-9 {
        grid-column: span 9 !important;
    }

    .xl\:col-span-10 {
        grid-column: span 10 !important;
    }

    .xl\:col-span-11 {
        grid-column: span 11 !important;
    }

    .xl\:col-span-12 {
        grid-column: span 12 !important;
    }
}

@media (min-width: 1400px) {
    .\2xl\:grid-cols-1 {
        grid-template-columns: repeat(1, minmax(0, 1fr)) !important;
    }

    .\2xl\:grid-cols-2 {
        grid-template-columns: repeat(2, minmax(0, 1fr)) !important;
    }

    .\2xl\:grid-cols-3 {
        grid-template-columns: repeat(3, minmax(0, 1fr)) !important;
    }

    .\2xl\:grid-cols-4 {
        grid-template-columns: repeat(4, minmax(0, 1fr)) !important;
    }

    .\2xl\:grid-cols-5 {
        grid-template-columns: repeat(5, minmax(0, 1fr)) !important;
    }

    .\2xl\:grid-cols-6 {
        grid-template-columns: repeat(6, minmax(0, 1fr)) !important;
    }

    .\2xl\:grid-cols-7 {
        grid-template-columns: repeat(7, minmax(0, 1fr)) !important;
    }

    .\2xl\:grid-cols-8 {
        grid-template-columns: repeat(8, minmax(0, 1fr)) !important;
    }

    .\2xl\:grid-cols-9 {
        grid-template-columns: repeat(9, minmax(0, 1fr)) !important;
    }

    .\2xl\:grid-cols-10 {
        grid-template-columns: repeat(10, minmax(0, 1fr)) !important;
    }

    .\2xl\:grid-cols-11 {
        grid-template-columns: repeat(11, minmax(0, 1fr)) !important;
    }

    .\2xl\:grid-cols-12 {
        grid-template-columns: repeat(12, minmax(0, 1fr)) !important;
    }

    .\2xl\:col-span-1 {
        grid-column: span 1 !important;
    }

    .\2xl\:col-span-2 {
        grid-column: span 2 !important;
    }

    .\2xl\:col-span-3 {
        grid-column: span 3 !important;
    }

    .\2xl\:col-span-4 {
        grid-column: span 4 !important;
    }

    .\2xl\:col-span-5 {
        grid-column: span 5 !important;
    }

    .\2xl\:col-span-6 {
        grid-column: span 6 !important;
    }

    .\2xl\:col-span-7 {
        grid-column: span 7 !important;
    }

    .\2xl\:col-span-8 {
        grid-column: span 8 !important;
    }

    .\2xl\:col-span-9 {
        grid-column: span 9 !important;
    }

    .\2xl\:col-span-10 {
        grid-column: span 10 !important;
    }

    .\2xl\:col-span-11 {
        grid-column: span 11 !important;
    }

    .\2xl\:col-span-12 {
        grid-column: span 12 !important;
    }
}
