.font-onest {
   font-family: 'Onest' !important;
   font-weight: 200;
}

.font-montserrat {
   font-family: 'Montserrat' !important;
   font-weight: 200;
}

.font-nunito {
   font-family: 'Nunito' !important;
   font-weight: 200;
}

.font-poppins {
   font-family: 'Poppins' !important;
   font-weight: 200;
}

.font-thin {
   font-weight: 100 !important;
}

.font-extralight {
   font-weight: 200 !important;
}

.font-light {
   font-weight: 300 !important;
}

.font-regular {
   font-weight: 400 !important;
}

.font-medium {
   font-weight: 500 !important;
}

.font-semibold {
   font-weight: 600 !important;
}

.font-bold {
   font-weight: 700 !important;
}

.font-extrabold {
   font-weight: 800 !important;
}

.font-black {
   font-weight: 900 !important;
}

.smooth-font {
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}

@media (min-width: 576px) {
   .sm\:font-onest {
      font-family: 'Onest' !important;
      font-weight: 200;
   }

   .sm\:font-montserrat {
      font-family: 'Montserrat' !important;
      font-weight: 200;
   }

   .sm\:font-nunito {
      font-family: 'Nunito' !important;
      font-weight: 200;
   }
   
   .sm\:font-poppins {
      font-family: 'Poppins' !important;
      font-weight: 200;
   }

   .sm\:font-thin {
      font-weight: 100 !important;
   }

   .sm\:font-extralight {
      font-weight: 200 !important;
   }

   .sm\:font-light {
      font-weight: 300 !important;
   }

   .sm\:font-regular {
      font-weight: 400 !important;
   }

   .sm\:font-medium {
      font-weight: 500 !important;
   }

   .sm\:font-semibold {
      font-weight: 600 !important;
   }

   .sm\:font-bold {
      font-weight: 700 !important;
   }

   .sm\:font-extrabold {
      font-weight: 800 !important;
   }

   .sm\:font-black {
      font-weight: 900 !important;
   }

   .sm\:smooth-font {
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
   }
}

@media (min-width: 768px) {
   .md\:font-onest {
      font-family: 'Onest' !important;
      font-weight: 200;
   }

   .md\:font-montserrat {
      font-family: 'Montserrat' !important;
      font-weight: 200;
   }

   .md\:font-nunito {
      font-family: 'Nunito' !important;
      font-weight: 200;
   }

   .md\:font-poppins {
      font-family: 'Poppins' !important;
      font-weight: 200;
   }

   .md\:font-thin {
      font-weight: 100 !important;
   }

   .md\:font-extralight {
      font-weight: 200 !important;
   }

   .md\:font-light {
      font-weight: 300 !important;
   }

   .md\:font-regular {
      font-weight: 400 !important;
   }

   .md\:font-medium {
      font-weight: 500 !important;
   }

   .md\:font-semibold {
      font-weight: 600 !important;
   }

   .md\:font-bold {
      font-weight: 700 !important;
   }

   .md\:font-extrabold {
      font-weight: 800 !important;
   }

   .md\:font-black {
      font-weight: 900 !important;
   }

   .md\:smooth-font {
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
   }
}

@media (min-width: 992px) {
   .lg\:font-onest {
      font-family: 'Onest' !important;
      font-weight: 200;
   }

   .lg\:font-montserrat {
      font-family: 'Montserrat' !important;
      font-weight: 200;
   }

   .lg\:font-nunito {
      font-family: 'Nunito' !important;
      font-weight: 200;
   }

   .lg\:font-poppins {
      font-family: 'Poppins' !important;
      font-weight: 200;
   }

   .lg\:font-thin {
      font-weight: 100 !important;
   }

   .lg\:font-extralight {
      font-weight: 200 !important;
   }

   .lg\:font-light {
      font-weight: 300 !important;
   }

   .lg\:font-regular {
      font-weight: 400 !important;
   }

   .lg\:font-medium {
      font-weight: 500 !important;
   }

   .lg\:font-semibold {
      font-weight: 600 !important;
   }

   .lg\:font-bold {
      font-weight: 700 !important;
   }

   .lg\:font-extrabold {
      font-weight: 800 !important;
   }

   .lg\:font-black {
      font-weight: 900 !important;
   }

   .lg\:smooth-font {
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
   }
}

@media (min-width: 1200px) {
   .xl\:font-onest {
      font-family: 'Onest' !important;
      font-weight: 200;
   }

   .xl\:font-montserrat {
      font-family: 'Montserrat' !important;
      font-weight: 200;
   }

   .xl\:font-nunito {
      font-family: 'Nunito' !important;
      font-weight: 200;
   }

   .xl\:font-poppins {
      font-family: 'Poppins' !important;
      font-weight: 200;
   }

   .xl\:font-thin {
      font-weight: 100 !important;
   }

   .xl\:font-extralight {
      font-weight: 200 !important;
   }

   .xl\:font-light {
      font-weight: 300 !important;
   }

   .xl\:font-regular {
      font-weight: 400 !important;
   }

   .xl\:font-medium {
      font-weight: 500 !important;
   }

   .xl\:font-semibold {
      font-weight: 600 !important;
   }

   .xl\:font-bold {
      font-weight: 700 !important;
   }

   .xl\:font-extrabold {
      font-weight: 800 !important;
   }

   .xl\:font-black {
      font-weight: 900 !important;
   }

   .xl\:smooth-font {
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
   }
}

@media (min-width: 1400px) {
   .\2xl\:font-onest {
      font-family: 'Onest' !important;
      font-weight: 200;
   }

   .\2xl\:font-montserrat {
      font-family: 'Montserrat' !important;
      font-weight: 200;
   }

   .\2xl\:font-nunito {
      font-family: 'Nunito' !important;
      font-weight: 200;
   }

   .\2xl\:font-poppins {
      font-family: 'Poppins' !important;
      font-weight: 200;
   }

   .\2xl\:font-thin {
      font-weight: 100 !important;
   }

   .\2xl\:font-extralight {
      font-weight: 200 !important;
   }

   .\2xl\:font-light {
      font-weight: 300 !important;
   }

   .\2xl\:font-regular {
      font-weight: 400 !important;
   }

   .\2xl\:font-medium {
      font-weight: 500 !important;
   }

   .\2xl\:font-semibold {
      font-weight: 600 !important;
   }

   .\2xl\:font-bold {
      font-weight: 700 !important;
   }

   .\2xl\:font-extrabold {
      font-weight: 800 !important;
   }

   .\2xl\:font-black {
      font-weight: 900 !important;
   }

   .\2xl\:smooth-font {
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
   }

}
